<!DOCTYPE html>

<html>
  <head>
    <title></title>
  </head>

  <body>
    <div id="root">
      <ul>
        <li v-for="name in names">{{name}}</li>
      </ul>

      <br />
      <input id="name" type="text" v-model="newName" />

      <button @click="addName">Add Name</button>
    </div>

    <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>

    <script>
      var app = new Vue({
        el: "#root",
        data: {
          newName: "",
          names: ["test1", "test2", "test3"]
        },

        methods: {
          addName() {
            this.names.push(this.newName);
            this.newName = "";
          }
        }
      });
    </script>
  </body>
</html>
